

/* ================= SCREEN MOBILE =================== */
@media only screen and (min-width: 0px) and (max-width: 480px) 

{

* {}

section.page-login {
    padding-top: 16px;
}

.add-briefpay .col-md-3 {
    margin-bottom: 16px;
}

.fix {
    z-index: -1 !important;
}

.fix {
    z-index: -9;
}
.page-login{
  min-height: 100vh;
  position: fixed;
  left: 0;
  right: 0px;
}
.base-login{
    margin-top: 25px;
    /* padding: 0px !important; */
    padding-bottom: 20px !important;
}

.btn-facebook {
    margin-bottom: 12px;
}
.base-fscore-gl-result {
    margin-left: 0px;
    margin-top: 100px;
    width: 345px;
}

.base-fscore-guideline {
    margin: 0px;
    width: 345px;
    margin-top: 45px;
}

.srcore-credit {padding: 0px 0px;}

.content-pay-st2 {
    margin-top: 30px;
}

.base-fregister-guideline {
    position: relative;
    left: -33px;
    width: 350px;
}

section.base-breadcrumb.br-partner {background: #f7f7f7;}

.partner-card.border {
    border: none !important;
}

.info-nav-mobile {
    display: block;
}

.info-nav-mobile {
    margin-top: 28px;
}

.info-nav-mobile h3 {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.cate-mb a.nav-link {
    padding: 0px;
    font-size: 14px;
    margin-top: 4px;
}

/* ========= PAGE HOME ========= */

.list-user {
    border-left: none;
    padding: 4px;
}

.col-content-1 {
    padding: 16px 0px !important;
}

.form-support-ft {
    display: none;
}

.col-content-2 {
    display: none;
}

.fanpage-facebook {display: none;}

.base-list {overflow: inherit;height: auto;}

.base-list-user {
    /* background: #fafafa; */
}

.row-title-list {
    margin-bottom: 16px;
}

.row-content span {
    /* background: #ffffff; */
    /* display: block; */
    /* border-bottom: 1px solid rgba(177, 177, 177, 0.12); */
    padding: 4px 16px;
    /* margin-top: 6px; */
    padding-top:4px;
    color: rgba(0, 0, 0, 0.60);
}

span.score-title {
    background: #fafafa;
    border: none;
    font-weight: bold;
    padding: 0px;
    padding-left: 16px;
    display:block;
    margin-bottom: 4px;
    margin-top:4px;
    color:rgba(0, 0, 0, 0.8);
    width: 190px;
}

span.money-pay-title {
    font-weight: bold;
    background: #fafafa;
    border: none;
    padding: 0px;
    padding-left: 16px;
    display:block;
     margin-bottom: 4px;
     margin-top:4px;
    color:rgba(0, 0, 0, 0.8);
}
span.benifit-title{
     font-weight: bold;
    background: #fafafa;
    border: none;
    padding: 0px;
    padding-left: 16px;
    display:block;
    margin-bottom: 4px;
    margin-top:4px;
    color:rgba(0, 0, 0, 0.8);
    width: 190px;
}
span.day-title{
    font-weight: bold;
    background: #fafafa;
    border: none;
    padding: 0px;
    padding-left: 16px;
    display:block;
    margin-bottom: 4px;
    margin-top:4px;
    color:rgba(0, 0, 0, 0.8);
}
.phone-user{
    /* float: right; */
    position: relative;
    right: -103px;
}
span.content-line-end {/* border-bottom: 1px solid rgba(177, 177, 177, 0.12); */}

.row-content {
    padding: 0px;
    border: none;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    /* background: #a9a1a1; */
    /* box-shadow: 0px 0px 4px #3838382e; */
    padding-top: 6px;
}

.row-content .row .col-6 {
    
}

.row-title {
    display: none;
}

.base-tablelist ul.nav {
    padding: 0px;
    margin: 0px !important;
    justify-content: center;
    margin-bottom: 12px !important;
}

.base-step .step-2 {
    left: 2%;
}

.base-fregister {
    padding: 0px 16px;
}

.base-scroll-floan {overflow: inherit;height: fit-content;padding-right: 0px;}

.base-group-fphone ul.nav {background: #fbfbfb;}



.gr-fphone-title h2 {
    color: #e9c31e;
}

.gr-fphone-title h4 {
    font-size: 18px;
    color: #000;
    line-height: 24px;
    font-weight: bold !important;
}

.base-group-fphone .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000 !important;
    border-bottom: 2px solid #e9c31e;
}
.base-group-fphone .nav-pills .nav-link, .nav-pills .show>.nav-link {
    background: #fbfbfb;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.58) !important;
    border-bottom: 2px solid #fbfbfb;
}
.line-step {left: 33px;width: 78%;}

.base-step-floan .step-2 {
    left: 5%;
}

span.badge.badge-style.badge-color-a.position-absolute {
    display: none;
}

.header-fix {display: none;}

.title-about h1 {
    font-size: 30px;
}

.title-about h3 {
    font-size: 18px;
    padding: 0px 35px;
    line-height: 24px;
}
.content-about {
    margin-bottom: 45px;
}

.about .text-about p {
    font-size: 16px;
    line-height: 24px;
}

.text-about {}

.featured-about span {
    width: 100%;
}

.text-about {padding-right: 0px;}

.content-about {text-align: center;}

section.list-featured {}

.card-guide {
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 20px 0px;
}

.card-guide .content-card {
    text-align: center;
}

.card-guide .content-card h5 {
    margin: 10px 0px !important;
}

.card-guide .img-card {
    text-align: center;
    /* margin: auto; */
    padding-left: 19px;
}

.card-guide .img-card img {
    width: 64px;
}

.base-title-form h2 {
    font-size: 22px;
    padding: 0px 45px;
}

.base-title-form h4 {
    font-size: 15px;
    padding: 0px 45px;
    margin-top: 8px !important;
}

section.group-form {
    padding: 30px 0px;
}
.text-intro h3 {
    font-weight: bold;
    line-height: 23px;
    font-size: 18px;
    color: #ed1c24;
    padding: 0px 24px;
    margin-top: 10px;
    margin-bottom: 24px!important;
    display: none;
}
.text-intro h1 {
    font-size: 30px;
    color: #e9c31e;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.note-fscore {
    margin-top: 10px;
    padding: 5px 0px;
    /* background: #f9f9f9; */
    margin-bottom: 4px;
}

.base-fscore {
    padding: 0px 16px;
    display: block;
}
#bubbles-bg {
  background-color: #fbfbfb;
  /* height: 2000px; */
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: -1;
}

.line-form {display: none;}
.base-group-form {
    background: #fafafa;
    padding: 20px 0px;
    width: 345px;
    box-shadow: none !important;
}
section.intro .text-intro {
    position: absolute;
    top: 170px;
    left: 0px;
    padding: 0px 20px;
    
}


.base-form-creditscore {
    position: relative;
    top: -40px;
}


.brand-mobile img {
    width: 200px;
}
section.intro {
    height: 773px;
}

section.new-mail {
    padding: 30px 0px;
}

.form-support-ft h3 {
    margin-top: 15px;
}

footer {
    top: 0px;
}


.box-featured.text-center {
    margin-bottom: 30px;
}

section.about .title h1 {
    font-size: 24px;
}

section.about .title h3 {
    font-size: 18px;
}

section.about .title p {
    font-size: 14px;
}

p.text-title-about {
    padding: 10px 20px;
}

.list-featured .title h1 {
    font-size: 18px;
    margin-bottom: 15px;
}

#carousel01 .item {
}

#carousel01 {
    margin: 0;
}

.partner .title h1 {
    font-size: 28px;
}

.box-guideline {
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 15px;
    border-right: 0px solid #e6e6e6;
}

ul#pills-tab {
    background: #f9f9f9;
}
ul.tabs-guideline-page{
    background: #fff !important;
}
.form-top {
    margin-top: 130px;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link {
    background: #f9f9f9;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 20px;
    color: #040404;
    margin-left: 1px;
}

.base-tablelist .nav-pills a.nav-link {
    padding: 8px 14px;
    font-size: 12px;
}

.base-tablelist .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-size: 12px;
}

.show-menumb {
    left: 0px !important;
}

i.fas.fa-times.d-block.d-sm-none.icon-menu-close {
    position: absolute;
    right: 23px;
    top: 18px;
    font-size: 20px;
    color: #000;
}

nav#mainNav {
    padding: 15px 0px;
}

.nav-main {padding: 10px 0px;}

i.fas.fa-bars.d-block.d-sm-none.icon-menu-phone {
    position: absolute;
    top: 11px;
    font-size: 20px;
    left: 22px;
}

.brand {
    text-align: center;
}

.login {
    text-align: left;
}

.menu-main {
    position: fixed;
    background: #fff;
    left: -400px;
    width: 100%;
    height: 100%;
    top: 0px;
    text-align: center;
    transition: all 0.4s;
}

.menu-main.show-menumb i {
    font-size: 24px;
    color: #e9c31e;
    display: block !important;
}

.menu-main.show-menumb li {
}

li.nav-item.cate-mb {
    border-bottom: 1px solid #efefef;
    padding: 12px 0px;
}

.menu-main ul {
    margin: 0px;
    display: inline-block;
    width: 100%;
    margin-top: 65px;
}

.menu-main ul li {
    /* padding: 6px 0px; */
    /* display: inline-block; */
}



.menu-main-scroll {
    position: fixed;
    background: #fff;
    left: -400px;
    width: 100%;
    height: 100%;
    top: 0px;
    text-align: center;
    transition: all 0.4s;
}

.menu-main-scroll ul {
    margin: 0px;
    display: inline-block;
    width: 100%;
    margin-top: 120px;
}

.menu-main-scroll ul li {
    padding: 10px 0px;
}


.top-bar {
    position: relative;
    z-index: 1;
}

.card-ft-partner-ct {
    margin-bottom: 30px;
}


.base-new-pword{margin-top: 150px;}
}
.base-password-success{
    margin-top: 150px;
}

/* ================= SCREEN TABLET =================== */


@media only screen and (min-width: 480px) and (max-width: 768px) 

{

* {}

.images-step-2 {
    border-top: 1px dashed #000;
    margin-top: 30px;
    padding-top: 45px;
}

.base-fscore-guideline {
    margin-top: 30px;
}

.content-pay-st2 {
    margin-top: 30px;
}

.pay-step-2, .pay-step-3 {
    margin-top: 24px !important;
    border-top: 1px dashed #949494;
    padding-top: 36px;
}

.pay-step-3 {
    margin-top: 24px !important;
    border-top: 1px dashed #949494;
    padding-top: 0px;
}

.images-pay1 {
    margin-top: 24px;
}

.content-about {
    margin-left: 30px;
    margin-bottom: 30px;
}


span.bage-score {
  position: absolute;
  right: 3px;
  padding: 2px 4px;
  border-radius: 4px;
  top: -4px;
  font-weight: bold;
  font-size: 14px !important;
}


.name-user {
    margin-top: 0px;
}

.b-result-today {
}

section.group-form {
    background: none;
}

.image-intro img {
    display: none !important;
}

section.group-form .img-form img {
    display: none !important;
}

img.img-fluid.img-form.d-none.d-sm-block {display: none !important;opacity: 0;}


.base-step .step-1 {
    left: -30px;
}

.line-step {width: 90%;left: 0;}

.base-step .step-3 {
    right: -25px;
}
.base-step .step-2 {
    padding-right: 20px;
    position: relative;
    z-index: 10;
    left: -20px;
}
.guildeline-sms p {
    font-size: 14px;
    line-height: 18px;
}

.header-fix {
    display: none !important;
}

.base-title-form h2 {
    font-size: 28px;
}

.base-title-form h4 {
    font-size: 18px;
}

.base-group-form {
    width: 660px;
    position: relative;
    left: -205px;
    height: 700px;
}

.text-intro h1 {
    font-size: 40px;
}

.menu-main {
    position: absolute;
    left: -160px;
}

}
